.facture-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.facture{
    max-width: 800px;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 0 10px black;
}
.facture-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: poppins;
}
.facture-header h1{
    font-size: 70px;
    color: #222;
}

.facture-header .header-logo img{
    width: 150px;
    height: auto;
}
.client-company-info{
    display: flex;
    justify-content: space-around;
    text-align: start;
    padding: 10px;

}
.facture-body {
    height: fit-content;
}
.facture-body table{
    width: 100%;
    height: fit-content !important;
    border-collapse: collapse;
}

.facture-body tbody {
    overflow: visible; 
    height: 100%;
    max-height: none !important;
}
.facture-body thead tr th:last-child,.facture-body tbody tr td:last-child{
    display: none;
}
.facture-body thead tr th:first-child,.facture-body tbody tr td:first-child{
    display: none;
}

.button-print{
    position:fixed;
    top: 100px;
    right: 50px;
    padding: 10px 30px;
    display: flex ;
    justify-content: space-between;
}

