.slide{
    width: 100%;
    display: block;
    position: relative;
}
.slide img{
    width:100%;
    height: auto;
}
.SlideAffiche {
    width: 100%;
    margin: auto;
    overflow: hidden;
    
}
.SlideAffiche img{
    width: 100%;
    height: 100%;
    background-attachment: cover;
    transition: 0.3s ease-in-out;
}


.slideNav{
    position: absolute;
    bottom: 50px;
    left:10%;
    right: 10%;
    backdrop-filter: blur(5px);
    border:1px solid lightgray;
    width:80%;
    height: 138px;
    align-items: center;
    box-shadow: 3px 3px 10px gray;
    border-radius: 20px;
    overflow: hidden;
}
.slideNav img{
    width:90px;
    height: 90px;
    margin:10px;
    cursor: pointer;
    box-shadow: 4px 4px 5px black,
                4px 4px 5px black,
                4px 4px 5px black;
    border-radius: 10px;
    transition:0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.slideNav img:hover{
    transform: scale(1.1);
    box-shadow: 6px 6px 10px black,
                6px 6px 10px black,
                6px 6px 10px black;
    
}
.slideNavImg{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: 100%;
    gap:10px;
    width:460px;
    padding:10px;
    margin:auto
}
.slideNavImg::-webkit-scrollbar{
    display: none;
}

.slideButton button{
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40%;
    border: none;
    cursor: pointer;
    padding: 114px;
    font-size: 24px;
    color: black;
    font-weight: bold;
    width:50px;
    height:50px;
    transition:0.3s ease-in-out;
    
}
.slideButton button:hover{
    background: rgba(200, 200, 200, 0.8);
    
}

.buttonSlideNext{
    top:-60px;
    right: -11%;
}
.buttonSlideNext:hover{
    transform: translate(-50px, 0);
}
.buttonSlidePrev{
    left: -11%;
    top:-60px;
}
.buttonSlidePrev:hover{
    transform: translate(50px, 0);
}




