.card{
    width: 300px;
    height: auto;
    box-shadow: 2px 2px 4px black;
    text-align:center;
    color: gray;
    background-color: white;
}
.card img{
    width: 100%;
    height: 200px;
    
}
.card h1{
    font-size: 20px;
    margin: 10px;
}
.card h2{
    font-size: 16px;
    margin: 10px;
}
.card h3{
    font-size: 14px;
    margin: 10px;
}
.card p{
    font-size: 12px;
    margin: 10px;
    font-weight: 600;
}
.card-button{
    margin-top: 10px;
    display: flex;
    gap:0;
}
.card-button button{
    width: 50%;
    height: 50px;
    background-color: cyan;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 600;
    transition: 0.3s ease;
}
.card-button button:hover{
    opacity: 1;
    letter-spacing: 0.5px;
}
.card-button button:last-child{
background-color: #FF4C4C;
}

