.dropCart{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    border:4px solid white;
    z-index: 99999;
    
}


.btnCommande{
    border-radius: 0.7vw;
    padding: 17px 93px;
    background-color: darkblue;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in;
    text-decoration: none;
}
.btnCommande:hover{
    opacity: 0.9;
    transform: scale(1.04);
}

 
